.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}
