
header{
flex-direction:inherit;
border: 0px solid darkgray;
display: flex;
justify-content: space-between;
position:inherit;
align-items: center;
height: 50px;
background-color: mediumvioletred;
}


 img {
     height: 20px;
     width: 20px;
 }



 main{
     height: 623px;
     width: 900px;
     background-color: #f2d0e0;
     border-radius: mediumvioletred;
     display:table-row

 }


div bolo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    


}

 footer{
    justify-content: center;
     background-color: mediumvioletred;
     height: 35px;
     align-items: center;
     display: flex;
 }






 .icone-e-texto {
    display: flex;
    align-items: center;
}
.icone {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}