
body{
    text-align: center;
    font-family: Open Sans, sans-serif;
    background-color:palevioletred;
    color: #ffffff;
    margin: 0px 0px 30px 0px;
 }




h1,h3,h3,h6 {
    color:black;
}



