@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Pooins", sans-serif;
    color:black ;
}

.header-container{
    height: 100vh;
    width: 100vw;
    background-color: pink;
    background-image: url(./img/210142193_2921109498205943_6672241725137368723_n.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex: content;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 100px;
    position: relative;
}

h1{
    font-size: 15px;
    text-transform:uppercase;
    letter-spacing: 4px;
}

h2{
    text-transform:uppercase;
    letter-spacing: 4px;
}

.social-media{
    margin-top: 1rem;
    display:inherit;
}

.social-media a{
    text-decoration:initial;
    color:black;
    padding: 0rem;
    border: 7px solid palevioletred;
    min-width: 4rem;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover{
    background-color:white;
}
.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.checkbox{
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms;
}

.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color:black;
    position: absolute;
    border-radius: 4px;
    transform: 0.5s ease-in-out;

}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#toggle{
    display: none;
}

.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 40px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px wheat;
    z-index: -1;
    transition: 400ms ease-in-out 0;
}

.menu-itens{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0;

}

.menu-itens ul{
    list-style-type: none;
}

.menu-itens ul li a{
    margin: 10px 0;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 4px;

}

#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 47px;


}


#toggle:checked + .checkbox .trace:nth-child(2){
    transform: transition   (-100deg);
    width: 30px;
    visibility: hidden;
    opacity: 0;   
}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: transition   (-100deg);
    width: 30px;
    visibility: hidden;
    opacity: 0;    
}

#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox{
    background-color:deeppink;
}

#toggle:checked˜ .menu{
    box-shadow: 0px 0px 0px 100vmax blueviolet;
    z-index: 1;
}

#toogle:checked ˜.menu-itens{
    visibility: visible;
    opacity: 1;
}